<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Done</title>
    <style>
        .main-container{
            border: 1px solid silver;
            padding: 20px;
            margin-left: 25px;
            margin-top: 25px;
            width: fit-content;
        }
        .u-text{
            font-size: 25px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="u-text">
            Information Added sucsessfully
        </div>
        <a href="">
            Click here to added another...
        </a>
    </div>
</body>
</html>